.head {
    color: red;
    position: relative;
    top: 200px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    font-size: 43px;
    font-style: italic;
    font-weight: bolder;
}

h3 {
    font-size: 29px;
    font-style: oblique;
}

body {
    background-color: black;
}

.navbar-brand,
.nav-link {
    font-family: "consolas";
    font-size: 23px;
}

.popp {
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

nav {
    position: sticky;
}

.JOJJ {
    color: red;
    text-align: center;
}