{% extends 'blog/layout.html' %} {% block content %}
<h1 class="JOJJ"> Posts </h1>

<div class="head"> {% for i in posts %}
    <div class="popp">
        <img class="rounded-circle " src={{i.author.account.image.url}}>
        <b>{{i.author}}</b>
    </div>
    <ul>

        <h3><span style="color:green"> {{i.title}}</h3>

        <li> {{i.content}}</li>

    </ul>
    <hr style="color:antiquewhite"><br>
    {% endfor %}

</div>
<script type=" text/javascript ">
</script>
{% endblock content %}